<!DOCTYPE html> <!-- required by grid -->
<html>


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/lib/angular-ui-grid/ui-grid.min.css" />

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
    <script src="~/lib/angularjs/angular.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/momentjs/moment.js"></script>

    <style>
        body { height: 100%; overflow: auto }
        #left { height: 100%; width: 75%; box-sizing:border-box; display:inline-block; margin-right:30px }
        #right { height: 100%; width: 20%; box-sizing:border-box; display:inline-block }
        .my-row { margin-top: 10px;}
    </style>
</head>

<body ng-app="TaskApp" style="padding:30px">
    <div ng-controller="HomeCtrl" style="height:100%">
        <div class="row">
            <div class="col-sm-1">
                <button class="btn btn-success" ng-click="newTask()">New</button>
            </div>
            <div class="col-sm-1">
                <input type="text" placeholder='new task name' ng-keypress="enterForNewTask($event)" ng-model="newTaskName" class="form-control" />
            </div>
        </div>    
        <div class="row my-row">
            <div class="col-sm-1">
                <select class="form-control" ng-model="filterStatus" ng-change="loadTasks()" ng-options="id*1 as name for (id,name) in statusList"></select>
            </div>
        </div>   
        <div id="left">
            <div ui-grid="gridOptions" ui-grid-selection></div>
        </div>
        <div id="right">
            <form class="form-horizontal">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="selectedTask.Name" ng-blur="updateField('Name')" />
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select class="form-control" ng-model="selectedTask.Priority" ng-change="updateField('Priority')"
                             ng-options="id*1 as name for (id,name) in priorityList"></select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" ng-model="selectedTask.Status" ng-change="updateField('Status')" 
                            ng-options="id*1 as name for (id,name) in statusList"></select>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea ng-model="selectedTask.Description" class="form-control" ng-blur="updateField('Description')"></textarea>
                </div>
                <div class="form-group">
                    <label>Due</label>
                    <input type="datetime" class="form-control" ng-model="selectedTask.Due" ng-blur="updateField('Due')" />
                </div>
            </form>
        </div>
    </div>
    <script>

        var app = angular.module('TaskApp', ['ui.grid', 'ui.grid.selection']);

        app.controller('HomeCtrl', function ($scope, $http, $timeout) {
            $scope.gridOptions = {
                enableRowSelection: true,
                enableRowHeaderSelection: false,
                columnDefs: [
                    { name: 'Id', visible: false },
                    { name: 'Name', field: 'Name' },
                    { name: 'Status', cellTemplate: '<span>{{ grid.appScope.statusList[(COL_FIELD)] }}</span>' },
                    { name: 'Priority', cellTemplate: '<span>{{ grid.appScope.priorityList[(COL_FIELD)] }}</span>' },
                    { name: 'Created', cellTemplate: "<span>{{ grid.appScope.formatDate(COL_FIELD)}}</span>" },
                    { name: 'Due', cellTemplate: "<span>{{ grid.appScope.formatDate(COL_FIELD) }}</span>" }
                ]
            };

            $scope.filterStatus = null;

            $scope.enterForNewTask = function (e) {
                if (e.which == 13) {
                    $scope.newTask();
                }
            };

            $scope.formatDate = function (val) {
                if (val == undefined) {
                    return "";
                }

                return moment(val).format("MM/DD/YY");
            };

            $scope.gridOptions.multiSelect = false;
            $scope.gridOptions.modifierKeysToMultiSelect = false;
            $scope.gridOptions.noUnselect = true;
            $scope.gridOptions.onRegisterApi = function (gridApi) {
                $scope.gridApi = gridApi;
                gridApi.selection.on.rowSelectionChanged($scope, function (row) {
                    $scope.selectedTask = row.entity;
                    console.log(row.entity);
                });
            };

            $scope.newTask = function () {
                var data = { Name: $scope.newTaskName };
                $scope.newTaskName = '';
                $http.post('/tasks', data).then(function () {
                    $scope.loadTasks();
                });
            };

            $scope.statusList = {
                0: 'All',
                1: 'Pending',
                2: 'Working',
                3: 'Completed',
                4: 'Waiting',
                5: 'Blocked',
                6: 'Deleted'
            };

            $scope.priorityList = {
                0: 'All',
                1: 'Very Low',
                2: 'Low',
                3: 'Normal',
                4: 'High',
                5: 'Very High'
            };

            $scope.updateField = function (field) {
                var data = { Field: field, Value: $scope.selectedTask[field] };
                $http.post('/tasks/' + $scope.selectedTask.Id, data).then(function () {
                    console.log('updated!');
                });
            }

            $scope.loadTasks = function () {
                var url = '/tasks?';

                if ($scope.filterStatus) {
                    url += 'status=' + $scope.filterStatus;
                }

                $http.get(url).then(function (r) {
                    $scope.tasks = r.data;
                    $scope.gridOptions.data = r.data;

                    //$timeout(function () {
                    //    if ($scope.gridApi.selection.selectRow) {
                    //        $scope.gridApi.selection.selectRow($scope.gridOptions.data[0]);
                    //    }
                    //});

                });
            };

            $scope.selectedTask = {};

            $scope.loadTasks();

        });
    </script>

  
</body>

</html>



